<ion-modal-view id="view-attach-bitlox-modal">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>Attach a BitLox</ion-nav-title>
  </ion-nav-bar>

  <ion-content>
    <div ng-controller="BitLoxCtrl">
      <br /><br />
      <h2>BLE Connection</h2>
      <h2>Select Device</h2>
      <br /><br />
      <button class = "button icon icon-left ion-ios-close-outline"
         ng-click = "closeModal()">Cancel</button>      
      <br /><br />
      <ion-list>
        <a
              class="item item-remove-animate" ng-click="refreshBitlox($event)">
          <span  ng-if="api.getNumDevices() < 1">No devices found - </span>Tap to refresh
        </a>
        <a ng-repeat="device in api.getKnownDevices()"
           ng-click="connectBle(device.address, true)"
              class="item item-remove-animate">
          {{device.name}}
          <pre>{{device}}</pre>
        </a>

      </ion-list>
    </div>
  </ion-content>
</ion-modal-view>
