<ion-view id="view-attach-bitlox">
  <ion-nav-bar class="bar-royal">
    <ion-nav-title>Attach a BitLox</ion-nav-title>
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>

  <ion-content>
    <div ng-controller="StatusCtrl as sc">
      <div ng-hide="sc.bitlox.connected || !sc.bitlox.connectAttempted">
          <h2>
              No BitLox device detected.<br />
              Please connect your BitLox and
              <a href ng-click="sc.refreshBitlox()">tap here to try again.</a>
          </h2>
      </div>
      <div ng-show="sc.wallet.status">
          <span class="glyphicon"
                ng-class="sc.wallet.glyph"></span>
          {{sc.wallet.status}}
      </div>
      <div ng-show="sc.bitlox.isMobile">
        <h2>BLE Connection</h2>
        <h2>Select Device</h2>
        <ion-list>
          <a  ng-show="sc.bitlox.knownDevices"
                class="item item-remove-animate">
            No Devices Found
          </a>
          <a ng-repeat="device in sc.bitlox.knownDevices"
                ng-click="sc.connectBle(device.address)"
                class="item item-remove-animate">
            <span class="glyphicon glyphicon-lock">&nbsp;</span>{{device.name}}
          </a>

        </ion-list>
      </div>
      <div  ng-controller="WalletCtrl as vm"
        ng-show="sc.bitlox.connected">
        <h3 ng-show="vm.readingWallets">Loading wallets</h3>

        <ion-list ng-show="!vm.readingWallets">

          <a class="item item-remove-animate item-icon-right item-icon-left item-big-icon-left" type="item-text-wrap" ui-sref="tabs.add.create-bitlox-wallet({availableWallets:vm.availableWalletNumbers})">
           <i class="icon big-icon-svg">
              <img src="img/icon-wallet.svg" class="bg"/>
            </i>
            <span class="add-type" translate>Create/Restore Wallet</span>
            <i class="icon bp-arrow-right"></i>

          </a>
          <a ng-repeat="wallet in vm.wallets"
                ng-click="vm.loadWallet(wallet)"
                ng-disabled="vm.openWallet.number == wallet.number"
                class="item item-remove-animate item-icon-right item-icon-left item-big-icon-left">
            #{{wallet.number}}&nbsp;&nbsp;
            <span class="glyphicon glyphicon-lock"
                  ng-if="wallet.isSecure">&nbsp;</span>{{wallet.name}}
            <span ng-if="vm.openingWallet == wallet.number && vm.loadingXpub"
                  class="pull-right">Check BitLox</span>
            <span ng-if="vm.openWallet.number == wallet.number"
                  class="pull-right">
                <span ng-hide="vm.openWallet.updatingBalance"
                      bc-val="vm.openWallet.balance"></span>
                <span ng-show="!vm.openWallet.updatingBalance && vm.openWallet.unconfirmedBalance">
                    (<span bc-val="vm.openWallet.unconfirmedBalance"></span> unconfirmed)
                </span>
                <span ng-show="vm.openWallet.updatingBalance">
                    Updating
                </span>
            </span>
          </a>

        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-view>
